#amqp==2.3.2
#Babel==2.6.0
#billiard==3.5.0.4
boto3==1.9.28
botocore==1.12.28
celery==4.2.1
#certifi==2018.8.24
#chardet==3.0.4
#docutils==0.14
#flower==0.9.2
#idna==2.7
#jmespath==0.9.3
#kombu==4.2.1
#python-dateutil==2.7.3
#pytz==2018.5
#pycurl==7.43.0.2
requests==2.19.1
s3transfer==0.1.13
#six==1.11.0
#tornado==5.1.1
#urllib3==1.23
#vine==1.1.4
#redis==2.10.6
