{% extends "base.html" %}
{% load static %}

{% block base_css %}
{{ block.super }}
{% endblock %}

{% block custom_css %}
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="{% static 'assets/plugins/isotope/isotope.css' %}" rel="stylesheet" />
<link href="{% static 'assets/plugins/video/css/video-js.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/float-btn.css' %}" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Home</a></li>
    <li class="active">Gallery</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">{{ object.name |title }} <small>{{ object.award_description }}</small></h1>
  <!-- end page-header -->
  
  <div id="options" class="m-b-10">
      <span class="gallery-option-set" id="filter" data-option-key="filter">
          <a href="#show-all" class="btn btn-default btn-xs active" data-option-value="*">
              Show All
          </a>
          <a href="#gallery-group-1" class="btn btn-default btn-xs" data-option-value=".gallery-group-1">
              Gallery Group 1
          </a>
          <a href="#gallery-group-2" class="btn btn-default btn-xs" data-option-value=".gallery-group-2">
              Gallery Group 2
          </a>
          <a href="#gallery-group-3" class="btn btn-default btn-xs" data-option-value=".gallery-group-3">
              Gallery Group 3
          </a>
          <a href="#gallery-group-4" class="btn btn-default btn-xs" data-option-value=".gallery-group-4">
              Gallery Group 4
          </a>
      </span>
  </div>
  <div id="gallery" class="gallery">
      <div class="image gallery-group-1">
          <div class="image-inner">
              <video class="video-js" controls>
                <source src="http://hello.localhost:8000/media/video1.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <p class="image-caption">
                  #1382 - 3D Arch
              </p>
          </div>
          <div class="image-info">
              <h5 class="title">Lorem ipsum dolor sit amet</h5>
              <div class="pull-right">
                  <small>by</small> <a href="javascript:;">Sean Ngu</a>
              </div>
              <div class="rating">
                  <span class="star active"></span>
                  <span class="star active"></span>
                  <span class="star active"></span>
                  <span class="star"></span>
                  <span class="star"></span>
              </div>
              <div class="desc">
                  Nunc velit urna, aliquam at interdum sit amet, lacinia sit amet ligula. Quisque et erat eros. Aenean auctor metus in tortor placerat, non luctus justo blandit.
              </div>
          </div>
      </div>
  </div>
  <div class="btn-group pull-right float-btn">
    <a href="{% url 'contests:video_create' object.pk %}">
      <button type="button" class="btn btn-success "><i class="fa fa-plus"></i></button>
    </a>
  </div>
</div>
<!-- end #content -->
{% endblock %}

{% block base_js %}
{{ block.super }}
{% endblock %}

{% block custom_js %}
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'assets/plugins/isotope/jquery.isotope.min.js' %}"></script>
<script src="{% static 'assets/js/gallery.demo.min.js' %}"></script>
<script src="{% static 'assets/js/apps.min.js' %}"></script>

<script src="{% static 'assets/plugins/video/css/video-js.css' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
{% endblock %}

{% block init_js %}
<script>
  $(document).ready(function() {
      App.init();
      Gallery.init();
  });
</script>
{% endblock %}