{% extends "base.html" %}
{% load static %}

{% block base_css %}
{{ block.super }}
{% endblock %}

{% block custom_css %}
{{ block.super }}
{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">UI Elements</a></li>
        <li class="active">Widget Boxes</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Maratón de Concursos <small>despierta la creatividad que hay en ti...</small></h1>
    <!-- end page-header -->

    
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-center">
          <i class="fa fa-quote-left fa-4x pull-left muted"></i>
          Nosotros premiamos la <strong>creatividad</strong>, es por ello que hemos puesto a disposición una serie de <strong>concursos</strong>.
          Participa mostrandonos tu creatividad en un video en el cual describas el porqúe te gusta el producto de nuestra organización que relacionas en el video.
        </h5>
      </div>
    </div>
        
    <!-- end row -->
    <div class="m-b-20" style="height: 10px;"></div>
    <!-- begin row -->
    <div class="row">
        {% for contest in object_list %}
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-{% cycle 'warning' 'inverse' 'primary' 'success' %}">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ contest.name }}</h4>
                </div>
                <div class="panel-body">
                  <div class="media media-lg pull-center">
                    <a class="pull-left" href="{% url 'contests:contest_detail' contest.url %}">
                      <img src="{{ contest.banner.url }}" alt="" class="media-object" />
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">{{ contest.name }}</h4>
                      <dl>
                        <dt>Inicio</dt>
                        <dd>{{ contest.start_date }}</dd>
                        <dt>Terminación</dt>
                        <dd>{{ contest.end_date }}</dd>
                        <dt>Descripción del premio</dt>
                        <dd>{{ contest.award_description }}</dd>
                      </dl>
                    </div>
                    <div class="pull-right">
                      <a class="pull-left" href="{% url 'contests:contest_detail' contest.url %}">
                        <input class="btn btn-{% cycle 'warning' 'inverse' 'primary' 'success' %} text-white custom-shadow" type="submit" value="Aplicar"/>
                      </a>
                    </div>
                  </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        {% endfor %}
    </div>   
</div>
<!-- end #content -->
{% endblock %}

{% block base_js %}
{{ block.super }}
{% endblock %}

{% block custom_js %}
{{ block.super }}
{% endblock %}

{% block init_js %}
{{ block.super }}
{% endblock %}