{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>AucarVideo | Inc.</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->


    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="{% static 'assets/plugins/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/bootstrap-3.2.0/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style-responsive.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/theme/default.css' %}" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE CSS STYLE ================== -->
    <link href="{% static 'assets/plugins/jquery.countdown/jquery.countdown.css' %}" rel="stylesheet" />
    <!-- ================== END PAGE CSS STYLE ================== -->
</head>
<body class="bg-white p-t-0">
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin coming-soon -->
    <div class="coming-soon">
        <div class="coming-soon-header">
            <div class="bg-cover"></div>
            <div class="brand">
                <span class="logo"></span> AuCarVideo
            </div>
            <!-- <div class="timer">
                <div id="timer"></div>
            </div>  -->
            <div class="desc">
                 Nuestra pagina te permitirá crear concursos de videos <br>para promocionar los productos de tu empresa de una forma muy creativa <br> en la cual tus clientes se divertiran dando a conocer tus productos.
            </div>
        </div>
        <div class="coming-soon-content">
            <div class="desc">
                Para iniciar esta espectacular aventura.
            </div>
            <div class="input-group">
                <div class="input-group-btn">
                    <a href="{% url 'profile:register' %}">
                        <button type="button" class="btn btn-success">Registrate</button>
                    </a>
                </div>
            </div>
            <p class="help-block m-b-25"><i>No enviaremos correos no deseados a tu cuenta</i></p>
            <p>
                Siguenos
                <a href="#"><i class="fa fa-twitter fa-fw"></i> Twitter</a> y
                <a href="#"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
            </p>
        </div>
    </div>
    <!-- end coming-soon -->

</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="{% static 'assets/plugins/jquery-1.8.2/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-3.2.0/js/bootstrap.min.js' %}"></script>
<!--[if lt IE 9]>
<script src="{% static 'assets/crossbrowserjs/html5shiv.js' %}"></script>
<script src="{% static 'assets/crossbrowserjs/respond.min.js' %}"></script>
<script src="{% static 'assets/crossbrowserjs/excanvas.min.js' %}"></script>
<![endif]-->
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-cookie/jquery.cookie.js' %}"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'assets/plugins/jquery.countdown/jquery.plugin.js' %}"></script>
<script src="{% static 'assets/plugins/jquery.countdown/jquery.countdown.js' %}"></script>
<script src="{% static 'assets/js/coming-soon.demo.min.js' %}"></script>
<script src="{% static 'assets/js/apps.min.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<script>
		$(document).ready(function() {
			App.init();
			ComingSoon.init();
		});
	</script>
</body>
</html>

